OLLAMA_API_KEY=your_api_key
LLM_MODEL=glm-5.2:cloud
EMBEDDING_MODEL=nomic-embed-text
OLLAMA_BASE_URL=https://ollama.com
OLLAMA_EMBEDDING_URL=http://localhost:11434
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=your_api_key
LANGSMITH_PROJECT="rm-gpt"