OLLAMA_API_KEY=your_api_key
LLM_MODEL=glm-5.2:cloud
OLLAMA_BASE_URL=https://ollama.com
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=your_api_key
LANGSMITH_PROJECT="rm-gpt"
HF_TOKEN=hf_access_token
HF_EMBEDDING_MODEL=google/embeddinggemma-300m
