streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-ollama
langchain-text-splitters
langchain-unstructured
faiss-cpu
docx2txt
python-dotenv
pydantic
pydantic-settings
filelock
unstructured
unstructured[all-docs]
huggingface-hub
numpy
